{% extends "hippie_website/base.html" %}
{% load django_vite %}
{% block title %}Browse Proteins{% endblock %}
{% block nav_browse %}active{% endblock %}

{% block content %}
<script>
  window.HIPPIE_BROWSE_CONFIG = {
    proteinsApiUrl:     "{% url 'hippie_website:browse_proteins_api' %}",
    interactionsApiUrl: "{% url 'hippie_website:browse_interactions_api' %}",
    exportApiUrl:       "{% url 'hippie_website:browse_export' %}",
    filterMetaUrl:      "{% url 'hippie_website:browse_filter_meta' %}",
    proteinQueryUrl:  "{% url 'hippie_website:index' %}",
    mlSplitsUrl:      "{% url 'hippie_website:ml_splits' %}",
  };
</script>
<div id="hippie-browse-app"></div>
{% endblock %}

{% block scripts %}
{% vite_asset "frontend/browse.jsx" %}
{% endblock %}
