{% extends "hippie_website/base.html" %}
{% load django_vite %}
{% block title %}Browse Proteins{% endblock %}
{% block nav_browse %}active{% endblock %}

{% block content %}
<script>
  window.HIPPIE_BROWSE_CONFIG = {
    proteinsApiUrl:   "{% url 'hippie_website:browse_api' %}",
    filterMetaUrl:    "{% url 'hippie_website:browse_filter_meta' %}",
    proteinDetailUrl: "{% url 'hippie_website:protein_detail' pk=0 %}".replace("/0/", "/{id}/"),
    proteinQueryUrl:  "{% url 'hippie_website:index' %}",
  };
</script>
<div id="hippie-browse-app"></div>
{% endblock %}

{% block scripts %}
{% vite_asset "frontend/browse.jsx" %}
{% endblock %}
